<h1>Shopping Cart</h1>
<div class="cart">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="inputs">
      <div class="input">
        <label for="name">Name</label><br />
        <input type="text" id="name" ngModel name="name" required />
      </div>
      <div class="input">
        <label for="amount">Amount</label><br />
        <input
          type="number"
          id="amount"
          ngModel
          name="amount"
          required
          pattern="^[1-9][0-9]*$"
        />
      </div>
    </div>
    <button type="submit">Add</button>
  </form>

  <div class="products">
    <div
      class="product"
      *ngFor="let product of cartService.products; let i = index"
      (click)="cartService.remove(i)"
    >
      <span class="name">{{ product.name }}</span>
      <span class="mass">{{ product.mass }}g</span>
    </div>
  </div>

  <p><i>click on product to remove from the cart</i></p>
</div>
