* {
  font-size: 16px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  box-sizing: border-box;

  /* No drag'n'drop */
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  min-width: 750px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}
