header,
footer {
  color: white;
  background-color: #121212;
  padding: 16px 12%;
  margin: 0px;
  display: flex;
}

.content {
  margin: 32px 16%;
}

a:any-link {
  color: white;
}

/* ====================================================== */
/* HEADER */

header .title {
  margin-left: 0;
  margin-right: auto;
  display: flex;
}

header .title #name {
  align-self: center;
  font-size: 48px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-variant: small-caps;
  text-decoration: none;
}

header nav {
  margin-left: auto;
  margin-right: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

header nav a {
  font-size: 16px;
  padding: 0.5em 1em;
  margin-left: 16px;

  border-bottom: 2px solid white;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}

header nav a:hover {
  color: #121212;
  background-color: white;
}

header nav a:active {
  transform: translateY(2px);
  color: #121212;
  border-color: lightgray;
  background-color: lightgray;
}

/* ====================================================== */
/* FOOTER */

footer .info {
  margin-left: 0;
  margin-right: auto;
  text-align: left;
}

footer .links {
  margin-left: auto;
  margin-right: 0;
  text-align: right;
}
